[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
python-decouple = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
