[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
Django = "*"
django-rest-framework = "*"
python-decouple = "*"
python-coveralls = "*"
"flake8" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
django-filter = "*"
mock = "*"
django-constance = {extras = ["database"], version = "*"}
django-picklefield = "*"
drf-yasg = "*"

[requires]
python_version = "3.6"
